body{
    display: flex;
    align-content: center;
}

body{
    display: flex;
    align-content: center;
}

li{
    border-bottom: 1px solid gray;
    padding-left:20px
}


h1{
    font-size: 40px;
    text-align: right;
}


nav{
    background-color: powderblue
        height:200px;
    display: flex;
    flex-direction: column;
}

header{
    border-bottom: 1px solid gray;
    padding-left:20px
}

header{
    border-bottom: 1px solid gray;
}


header{color: 
    skyblue
}

li{
    font-size:2rem;
    font-weight: bold;
    color:powderblue;
    mix-blend-mode: screen;
}

